<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form method="POST" action="/tweets">
        <div>
            <label>Title*</label>
            <div class="input-group">
                <input type="title" name="title">
        </div>
        <div>
            <label>Text*</label>
            <div class="input-group">
                <input type="text" name="text" maxlength="280">
            </div>
            <div>
            <input type="submit"/>
        </div>
    </form>


</body>
</html>